In [0]:
MERGE INTO databricks_catalog.gold.dim_date AS TGT
USING (
  SELECT 
    date_add('2000-01-01', id::INT) as origin_date,
    INT(YEAR(date_add('2000-01-01', id::INT))) as year,
    INT(MONTH(date_add('2000-01-01', id::INT))) as month,
    INT(DAY(date_add('2000-01-01', id::INT))) as day
  FROM range(datediff('2030-12-31', '2000-01-01') + 1)
) AS SRC
ON TGT.origin_date = SRC.origin_date
WHEN NOT MATCHED THEN INSERT (origin_date, year, month, day)
VALUES (SRC.origin_date, SRC.year, SRC.month, SRC.day);

SELECT * FROM dim_date;